<div class="container">

  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class = center>
          <img src="../images/attendance_icon.png" height="200" width="200"/></img>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h3>About Us!</h3>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
      <div class="col l12 l5">
        <div class="card-panel teal hoverable">
          <span class="white-text">The RFID Attendance System started out as an idea for the Embedded Systems Design course (ICOM 4217). The main purpose of this application is the automatization of the attendance taking process but ,moreover, the application is intended for acquiring attendance data that will be used by professors and the corresponding administration offices which require access to student attendance data, such as the Financial Aid office. Aside from utilizing the information for Financial Aid purposes, the university will be able to potentially use attendance statistics for classes to determine trends and perform statistical analysis among courses or professors.
          </span>
        </div>
      </div>
    </div>


    <div class="section">
      <div class="row">
        <div class="col s12">
          <h3>Design</h3>
        </div>
      </div>
    </div>


    <div class="col s12">
      <div class="row">
        <div class="col l12 l5">
          <div class="card-panel teal hoverable">
          <span class="white-text">The design consists of a microcontroller connected to an RFID reader, magnetic lock, proximity sensor, buzzer and an LED which will control classroom access. Once an RFID card has been scanned, the data processed by the MCU will be stored in a database utilizing WiFi communication. Moreover, professors will be able to view and edit attendance information while financial aid officers will be able to create an attendance report for a specific student.
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class = center>
            <img src="../images/block_diagram.png" height="426" width="674" /></div>
        </div>
      </div>
    </div>


  </div>
</div>
